.navbar {
    margin-bottom: 0;
  }
  
  .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:#346ca4;
  }
  
  .navbar li {
      float: left;
      margin-bottom: 0;
  }
  
  .navbar li a {
      display: block;
      font-weight: bold;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  .mi-card {
    max-width: 200px;
    margin: 10px;
    background-color: #2bd39c;
  }
  
  .mi-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }