<div class="limiter">
    <div class="container-login">
        <div class="login-more" style="background-image: url(../assets/images/login-bg.png)"></div>
        <div class="wrap-login" fxLayout="row" fxLayoutAlign="space-around center">
            <form [formGroup]="form" (ngSubmit)="onRuc(form.value.ruc)" fxLayout="column" fxLayoutAlign="space-around center">
                <div>
                    <input type="text" maxlength = "11" placeholder="RUC" formControlName="ruc" required />
                </div>
                <div>
                    <button type="submit" class="btn-success-our">INGRESAR</button>
                </div>
            </form>
        </div>
    </div>
</div>