<div class="limiter">
    <div class="container-login">
        <div class="login-more" style="background-image: url(../assets/images/login-bg-11.jpg)"></div>
        <div class="wrap-login" fxLayout="row" fxLayoutAlign="space-around center">
            <form [formGroup]="form" (ngSubmit)="onLogin(form.value)" fxLayout="column" fxLayoutAlign="space-around center">
                <div>
                    <input type="text" maxlength = "11" placeholder="RUC" formControlName="password" required />
                </div>
                <div>
                    <button type="submit">INGRESAR</button>
                </div>
            </form>
        </div>
    </div>
</div>